* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #1d282a, #3b585d);
    background-size: 100%;
    background-attachment: fixed;
    height: 100%; /*TROCAR PARA VH*/
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
}

button {

    background-color: inherit;
    color: inherit;
    border: none;

}

#bellow-cover {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3em 0em 1em 0em;

}

#button-container {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.button {
    
    font-size: 1.5em;
}

.button-navigate {

    font-size: 3em;

}

.button-biggest {

    font-size: 4em;
}

#cover {

    max-width: 450px;

}

#playlist-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 4em;
    margin-top: 1em;
}

#song-name {
    font-size: 1.5em;
    font-weight: bolder;
}

.light-color {
    color: #8B999C;

}

#progress-bar {
    background-color: rgb(139,153,156);
    height: 3px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1em;
}

#current-progress {
    background-color: white;
    height: inherit;
    width: 50%;
    border-radius: inherit;

}